<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FontOrg3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <FontOrg3.My.MySettings>
            <setting name="frmLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="cbType1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbTTF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbOTF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbRaster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cboSource" serializeAs="String">
                <value />
            </setting>
            <setting name="cboDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="cbolevel1" serializeAs="String">
                <value />
            </setting>
            <setting name="cbolevel2" serializeAs="String">
                <value />
            </setting>
            <setting name="cbolevel3" serializeAs="String">
                <value />
            </setting>
            <setting name="cbolevel4" serializeAs="String">
                <value />
            </setting>
            <setting name="optInvalid" serializeAs="String">
                <value />
            </setting>
            <setting name="optExact" serializeAs="String">
                <value />
            </setting>
            <setting name="optSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optDupe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optAssumption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optOverrideReality" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optLogFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strLogFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="optLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strSound" serializeAs="String">
                <value />
            </setting>
            <setting name="mruSource" serializeAs="String">
                <value />
            </setting>
            <setting name="mruDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="optFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </FontOrg3.My.MySettings>
    </userSettings>
</configuration>
